<div class="search-results-ctn">
    <div class="search-results">
        <% receivedAlbums.items.forEach(result => { %>
            <div class="search-results-card">
                <div class="search-results-card-title"><%- result.name %></div>
                <% if (result.images.length > 0) { %>
                    <img src="<%-result.images[0].url%>" alt="notfound">
                <% } else { %>
                    <img src="https://www.scdn.co/i/_global/open-graph-default.png" alt="notfound2">
                <% } %> 
                <form action="/tracks/<%- result.id %>" method="GET">
                    <button type="submit"><a href="/tracks/<%- result.id %>">View Tracks</a></button>
                </form>
            </div>
        <% }) %>
    </div>
</div>