<div>
    <% receivedData.artists.items.forEach(result => { %>
        <div><%- result.name %></div>
        <% if (result.images.length > 0) { %>
            <img src="<%-result.images[0].url%>" alt="notfound">
        <% } else { %>
            <img src="https://www.scdn.co/i/_global/open-graph-default.png" alt="notfound2">
        <% } %> 
        <form action="/albums" method="GET">
            <button type="submit"><a href="/albums/<%- result.id %>">View Albums</a></button>
        </form>
    <% }) %>
</div>