body {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: slategrey;
}

.artist-search-form-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1470229722913-7c0e2dbbafd3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

.artist-search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.439);
    padding: 100px
}

.artist-search-form input {
    height: 10vh;
    width: 50vw;
    margin-bottom: 50px;
    font-size: 30px;
    padding: 5px 20px;
}

.artist-search-form button {
    height: 10vh;
    width: 20vw;
    font-size: 30px;
    background-color: red;
    color: white;
}

h2 {
    text-align: center;
}

.search-results-ctn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.search-results {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.search-results img {
    width: 300px;
    height: 300px;
    border: 1px black solid;
    margin: 5px 10px;
}

.search-results-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    margin: 30px 0;
    color: white;
    background-color: rgb(26, 26, 26);
}

.search-results-card-title {
    font-size: 25px;
    font-weight: bold;
    padding: 0 20px
}

.view-button {
    background-color: rgb(247, 103, 103);
    height: 40px;
    width: 150px;
    margin: 5px;
    border-radius: 12px;
}

.view-button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.track-ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.track-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
    width: 80vw;
    background-color: rgb(201, 191, 191);
}

.track-card div {
    width: 200px;
    font-size: 20px;
    padding: 15px 30px;
    margin-right: 50px;
}

.track-card audio {
    border-style: none;
}